body{
	background-color:#f4f4f4;
	color:#555555;

	line-height: 1.6em;
	margin:0;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}
header h1{
	margin-left:40px;
}

header a{
  color:black;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color: orange;
  font-weight:bold;
}

header a:hover{
  color:orange;
  font-weight:bold;
}

header .highlight,  main-header .current a{
  color:#e8491d;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:200px;
  margin-top: 100px;
  background-image: url('../pics/showcase.jpg') no-repeat;
  font-style:italic;
  text-align:center;
  color:black;
}

#showcase h7{
  margin-top:200px;
  font-size:50px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}


.box-1{
	background: url('org.jpg') no-repeat;
	color:#fff;


	width:42%;
	height:300px;


	border: 3px solid black;

	padding:20px;

	margin-top: 1%;
	float: left;
	margin-left: 2%;

	}

.box-1 h3{
	font-family:Tahoma;
	font-weight:800	;
	font-style:italic;
	text-decoration: bold;
}

.box-2{
	width:42%;
	height:300px;

	background: url('Party.jpg') no-repeat;
	border:3px solid black;
	padding:20px;
	display: inline-block;
	float: left;
	margin-top:1%;
	margin-left:2%;
}



.box-3{
	width:42%;
	height:300px;

	background: url('walk.jpg') no-repeat;
	border:3px solid black;
	padding:20px;
	margin-left: 2%;
	margin-top: 1%;

	float:left;
}

.box-4{
	width:42%;
	height:300px;

	background: url('restauraunt.jpg') no-repeat;
	border:3px solid black;
	padding:20px;
	float:left;
	margin-left:2%;
	margin-top: 1%;
}

.box-2 h4{
	font-family:Tahoma;
	font-weight:800;
	font-style:italic;
	text-decoration: bold;
}	

.box-3 h5{
	font-family:Tahoma;
	font-weight:800;
	font-style:italic;
	text-decoration: bold;
}

.box-4 h6{
	font-family:Tahoma;
	font-weight:800;
	font-style:italic;
	text-decoration: bold;
}
